.tasks {
  margin: 2rem auto;
  width: 100%;
  max-width: 53rem;
}

.tasks ul {
  list-style: none;
  padding: 1rem;
}

.tasks li {
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
.button {
  margin: 0;
  width: 200px;
  background-color: pink;
}
.button:hover {
  background-color: red;
}
